

.widget_text .widget-title
{
  text-align: left;
  font-size: 2rem;
}

.widget-gabes-blogroll .widget-title
{
  font-size: 1.5rem;
}

.widget_text
{
  background-color: transparent;
  margin: 1em 0 0;
  padding: 0;
}

.widget_media_image
{
  display: grid;
}

.widget_media_image .widget-title
{
    font-size: 1rem;
    text-align: center;
    grid-row: 2;
}

.type-post .entry-content
{
  max-height: 130px;
  overflow: hidden;
}

.type-post .entry-thumbnail img
{
  max-height: 200px;
  max-width: 200px;
  object-fit: contain;
}

@media (max-width: 499px)
{
  .type-post .entry-thumbnail img
  {
    max-height: 100px;
    max-width: 100px;
  }
}

.type-post .entry-header
{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.type-post .entry-header .entry-thumbnail
{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
}

.type-post .entry-header .entry-title
{
  grid-column: 1;
  grid-row: 1;
}

.type-post .entry-header .entry-meta
{
  grid-column: 1 / 3;
  grid-row: 2;
}
