aside
{
    display: grid;
    margin: 0 0 1em !important;
}

.sidebar-img
{
    object-fit: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.post-thumbnail
{
  grid-row: 2;
}

.post-thumbnail:nth-child(2)
{
    margin-top: -3em;
}

.widget-title
{
    margin-right: 11px;
    margin-left: 11px;
}
.more-link
{
    display: block
}

.entry-title
{
    position: relative;
    background-color: white;
}

/*Search results put title in header*/
.entry-title:first-child
{
    top: -1px !important;
}

.entry-header
{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: -3.8em;
    width: 100% !important;
}

.widget .wp-caption
{
    width: 100% !important;
    margin: 0;
    padding: 0;
}

aside figure figcaption
{
    font-size: 2rem !important;
    top: -8em;
    text-align: center;
    color: white;
    margin: 0 !important;
    height: 1px; /*eh*/
}


.wp-caption-text:after
{
    border: none !important;
}

.wp-post-image
{
    object-fit: cover;
}

.entry-meta
{
    grid-column: 1 / 3;
}

.entry-content, .entry-summary
{
    grid-column: 2;
    overflow-y: auto;
    padding-top: 2.5em;
    padding-left: 2em;
}

.entry-content p, .entry-content h
{
    max-height: 115px;
    overflow: hidden;
}

article
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}



/* Default width */

.entry-title
{
    grid-row:1;
    /* top: -7.55em;
    right: -7.5em; */
    width: 300%;
    font-size: 12pt;
}

.sidebar-img, .wp-post-image
{
    height: 100px !important;
    width: 100px !important;
}

.entry-header .entry-meta:nth-child(3)
{
  width: 100%;
}

.entry-content, .entry-summary
{
    max-height: 105px;
    font-size: .7rem;
}

.entry-header
{
    width: 100px !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
{

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{
  .sidebar-img, .wp-post-image
  {
      height: 150px !important;
      width: 150px !important;
  }
  .entry-content, .entry-summary
  {
      max-height: 165px;
      font-size: 1rem;
  }
  .entry-header
  {
      width: 150px !important;
  }
  .entry-title
  {
      top: -6em;
      right: -6em;
      width: 310%;
      font-size: 14pt;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
  .sidebar-img, .wp-post-image
  {
      height: 200px !important;
      width: 200px !important;
  }
  .entry-header .entry-meta:nth-child(3)
  {
    width: 335%;
  }
  .entry-content, .entry-summary
  {
      max-height: 215px;
      font-size: 1rem;
  }
  .entry-header
  {
      width: 200px !important;
  }
  .entry-title
  {
      top: -12em;
      right: -12.2em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    .sidebar-img, .wp-post-image
    {
        height: 250px !important;
        width: 250px !important;
    }
    .entry-content, .entry-summary
    {
        max-height: 265px;
        font-size: 1rem;
    }
    .entry-header
    {
        width: 250px !important;
    }
}


/* OLD  */
/* aside
{
    display: grid;
    margin: 0 0 1em !important;
}

.sidebar-img
{
    height: 100px !important;
    width: 100px !important;
    object-fit: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.post-thumbnail:nth-child(2)
{
    margin-top: -3em;
}

.widget-title
{
    margin-right: 11px;
    margin-left: 11px;
}
.more-link
{
    display: block
}

.entry-title
{
    position: relative;
    top: -9.55em;
    right: -9.5em;
    background-color: white;
    width: 200%;
}

.entry-title:first-child/*Search results put title in header
{
    top: -1px !important;
}

.entry-header
{
    grid-column: 1;
    margin-bottom: -3.8em;
    width: 100% !important;
    width: 250px !important;
}

.widget .wp-caption
{
    width: 100% !important;
    margin: 0;
    padding: 0;
}

aside figure figcaption
{
    font-size: 2rem !important;
    top: -8em;
    text-align: center;
    color: white;
    margin: 0 !important;
    height: 1px; /*eh
}


.wp-caption-text:after
{
 border: none !important;
}

.wp-post-image
{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.entry-meta
{
    grid-column: 1 / 3;
}

.entry-header .entry-meta:nth-child(3)
{
 width: 335%;
}

.entry-content, .entry-summary
{
    grid-column: 2;
    max-height: 265px;
    overflow-y: auto;
    padding-top: 2.5em;
    padding-left: 2em;
}

.entry-content p, .entry-content h
{
    max-height: 115px;
    overflow: hidden;
}

article
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}


/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px)
{

}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px)
{

}

/* Large devices (desktops, 992px and up)
@media (min-width: 992px)
{

}

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
{
    .sidebar-img
    {
        height: 250px !important;
        width: 250px !important;
    }
} */
